body {
  background-color: grey;
}

.nav-link {
  color: white ;
  font-size: 18px !important;
}

.form-label {
  color: black;
}


.navbar {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.btn-outline-dark {
  border: none !important;
  font-size: 20px !important;
}

.errorChecker{
	visibility: hidden;
    background-color: white;
    color: red;
    font-size: small;
}

.hideIt{
	visibility: hidden;	
}